body {
  max-width: 100%;
  max-height: 100vh; /* 'vh' es una unidad relativa al 1% de la altura de la ventana gráfica */
  overflow-x: hidden; /* Oculta el desplazamiento horizontal */
  overflow-y: hidden; /* Oculta el desplazamiento vertical */
  
  background-color: #ebebeb;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
